.footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

.footer h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer ul {
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer .social-media a {
  margin-right: 15px;
}

.footer .social-media img {
  width: 30px;
}
